services:
  db_test:
    image: postgres:15
    command: ["postgres", "-c", "log_statement=none"]
    environment:
      POSTGRES_USER: ${POSTGRES_USER_TEST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_TEST}
      POSTGRES_DB: ${POSTGRES_DB_TEST}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER_TEST} -d ${POSTGRES_DB_TEST}"]
      interval: 3s
      timeout: 3s
      retries: 20

  test:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db_test:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER_TEST}:${POSTGRES_PASSWORD_TEST}@db_test:5432/${POSTGRES_DB_TEST}
    command: ["pytest", "-v"]


